exportPattern("^[[:alpha:]]+")
import(ggplot2)
importFrom(viridis, turbo)
importFrom(data.table, fread)
importFrom(data.table, fwrite)
import(imager)
importFrom(EBImage, bwlabel)
importFrom(tripack, tri.mesh)
importFrom(tripack, neighbours)
import(reticulate)
importFrom(parallel, detectCores)
import(Rcpp)
import(RcppEigen)
importFrom(RcppML, nmf)
import(scales)
importFrom(reshape2, melt)
importFrom(igraph, graph_from_data_frame)
importFrom(igraph, cluster_leiden)
importFrom(rlang, enquo)
importFrom(rlang, as_label)

